/* Here is my style sheet */
.profile {
    text-align: center;
    margin: 0.1em;
}

.profile img {
    height:100px;
    width: auto;
    border-radius: 20%;
}

.github-link {
    text-align: center;
    margin: 20px;
}
